<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.savatechnology.emall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMall">
        <activity
            android:name=".Activities.CartActivity"
            android:label="Cart"
            android:parentActivityName=".Activities.MainActivity">



        </activity>
        <activity android:name=".Activities.ProductSearchActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SuppliersSearchActivity"
            android:label="Search Suppliers"
            android:parentActivityName=".Activities.MainActivity">

        </activity>
        <activity
            android:name=".Activities.SuppliersDetailActivity"
            android:label="Suppliers Details"
            android:parentActivityName=".Activities.MainActivity">

        </activity>
        <activity
            android:name=".Activities.ProductDetailsActivity"
            android:label="Product Details"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.CheckOutActivity"
            android:label="Check Out"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EMall.NoActionBar" />
    </application>

</manifest>